header {
  padding: 1em;
  background-color: #363636;
  color: #F7F7F7;
  text-align: center;
  font-size: 1.6em;
}

aside, section {
  display: inline-block;
  vertical-align: top;
}
aside {
  width: 20%;
}
section {
  width: 80%;
}

.dashboard {
  margin: auto;
  padding: 1em;
}

.loading {
  width: 100%;
  text-align: center;
  padding: 5em;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: auto;
}
table thead,
table tfoot {
  font-size: 1.1em;
  background-color: #bcd;
}

table tr td,
table tr th {
  border: 1px solid #bbb;
  padding: 1em;
}
table tr th.center,
table tr td.center {
  text-align: center;
}

table tr.even-row td {
  background-color: #f0f0f0;
}

table tr.odd-row td {
  background-color: #fafafa;
}

table tr:hover td {
  background-color: #bdc;
}

.form-field-wrapper * {
  vertical-align: middle;
  margin: .5em;
}
.form-field-wrapper label {
  font-weight: 600;
}
.form-field-wrapper input {
  padding: .3em .5em;
  border: 1px solid #eaeaea;
}
.form-field-wrapper input:focus {
  border: 1px solid #abc;
}

.d-inline-block {
  display: inline-block;
}