header {
  padding: .3em;
  background-color: #4F4458;
  color: #F7F7F7;
  font-size: 1.4em;
}

.page-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1em .3em .5em .3em;
}

aside, section {
  display: inline-block;
  vertical-align: top;
}
aside {
  width: 30%;
  padding-right: 1em;
}
section {
  width: 70%;
}

aside h3 {
  font-size: 1.3em;
  padding: .5em;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

menu {
  text-align: left;
  display: inline-block;
}
menu ul,
menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
menu .menu-item {
  padding: 0em .3em;
  margin: 0 .3em;
  text-align: center;
  border-bottom: 3px solid transparent;
}
menu .menu-item:hover {
  border-bottom-color: #bbb;
}
menu .menu-item.active {
  border-bottom-color: #ca0;
}

.stats, .patterns {
  margin: auto;
  padding: 1em;
}

.loading {
  width: 100%;
  text-align: center;
  padding: 5em;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: auto;
}
table thead tr.col-header th {
  font-size: 1.1em;
  background-color: #ddd;
  border: 1px solid #bbb;
}
table thead tr.toolbar th,
table tfoot tr.toolbar td {
  background-color: #dbd0e4;;
}

table tr td,
table tr th {
  border: 1px solid #bbb;
  padding: 1em;
}
table tr th.center,
table tr td.center {
  text-align: center;
}

table tbody tr.even-row td {
  background-color: #f0f0f0;
}

table tbody tr.odd-row td {
  background-color: #fafafa;
}

table tbody tr:hover td {
  background-color: #fec;
}

.form-field-wrapper {
  width: 100%;
  padding: .5em 0;
  border-bottom: 1px solid  #eaeaea;
}
.form-field-wrapper * {
  vertical-align: middle;
}
.form-field-wrapper label {
  font-weight: 600;
  width: 50%;
  display: inline-block;
  padding: .5em;
}
.form-field-wrapper input {
  padding: .3em .5em;
  border: 1px solid #eaeaea;
  display: inline-block;
}
.form-field-wrapper input[type="text"] {
  width: 50%;
}
.form-field-wrapper.error input {
  border-color: #f30;
}

input:focus {
  border: 1px solid #d0dbeb;
}

button, select {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: .2em .5em;
}
.button-group button {
  border-right: 0;
}
button:hover {
  background-color: #fec;
}
button[disabled],
button[disabled]:hover {
  color: #aaa;
  background-color: #ddd;
}

.d-inline-block {
  display: inline-block;
}
.text-right {
  text-align: right;
}

.pagination {
  font-size: 90%;
}

.button-group button:last-of-type {
  border-right: 1px solid #aaa;
}